.App {
  text-align: center;
}

.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.App button {
  border: 1px solid blue;
  padding: 1rem;
  background-color: green;
  font: inherit;
}

.App button:hover{
    background-color:pink;
}

.App button.red{
    background-color: red;
}

.App button.bold{
    font-weight:bold;
}

@media (min-width:500px){
    .Person{
        width:450px;
    }
} 
