.red {
    color: red;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .Cockpit button {
    border: 1px solid blue;
    padding: 1rem;
    background-color: green;
    font: inherit;
  }
  
  .Cockpit button:hover{
      background-color:pink;
  }
  
  .Cockpit button.red{
      background-color: red;
  }
  
  .Cockpit button.bold{
      font-weight:bold;
  }
  